.mh-card {
	width: calc( max-width - 60%);
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 60%);
    border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mh-card__header {
    background: #009900;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
}
.mh-card__header h1 {
    color: #fff;
    margin: 0;
    font-size: 30px;
}
.mh-card__content {
    padding: 20px;
}
.mh-card__content h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
}
.mh-card__actions,
.mh-card__custom-action {
	margin-bottom: 20px;
	display: flex;
    gap: 10px;
}
.mh-card__content button {
	background: #009900;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}
.mh-card__content input {
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 20px;
}